.firstDiv{
  color: Red;
}
.secondDiv{
  color: Green;
}

#singledout{
  color: Blue;
  text-decoration: overline;
}

/* *{
  color: Black; to color all elements
} */

h3 + ul{
  border: 4px dotted purple;
}

li a{
  color:  red;
}

li a[href="www.npr.org"]{
  color : green;
  border: 4px double orange;
}

/*
SPECIFICITY
ID
*
class
general tag

*/
